html, body {
	background-color: #FAFAFA;
	color: #0A0A0A;
	height: 100%;
	margin: 0px;
	width: 100%;
}

body {
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 54px;
	margin: 0px;
	padding: 0.67em 0em;
}